<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kaycy.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @kaycy.content %>
</p>

<%= link_to 'Edit', edit_kaycy_path(@kaycy) %> |
<%= link_to 'Back', kaycies_path %>
