<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @biscuit.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @biscuit.content %>
</p>

<%= link_to 'Edit', edit_biscuit_path(@biscuit) %> |
<%= link_to 'Back', biscuits_path %>
